@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: black;
}

.navlist {
    display: flex;
    height: 10vh;
    align-items: center;
}

.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Stick No Bills', sans-serif;
}

.navlist li a:hover {
    color: grey;
    cursor: pointer;
}
.gamecontainer{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display:grid;
    width:50%;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    justify-content: center;
}
.box{
    display: flex;
    border:2px solid black;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}
.box:hover{
    background-color: rgb(189, 177, 177);
}
.info{
    display:flex;
    width:50%;
    flex-direction: column;
    margin:10px 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}
.info h1{
    font-size:50px;
    text-align: center;
}
.infogame{
    font-size: 30px;
    margin:30px;
}
#btn {
    border: 2px solid gray;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    background: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
#btn:hover{
    background-color: white;
    color:black;
    transition:all 0.4s ease-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
@media only screen and (max-width:720px) {
    .gamecontainer{
        flex-direction: column;
    }
    .container{
        width: 100%;
        grid-template-columns: repeat(3,16vw);
        grid-template-rows: repeat(3,16vw);
    }
    .info{
        width:100%;
        margin:30px 0px;
        justify-content: center;
    }
    .info h1{
        font-size:30px;
    }
    .infogame{
        font-size:20px ;
    }
    #btn{
        font-size: 15px;
    }
    
}
